.content-header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
    gap: 5px;
    background-color: #fff;
}

.header-title > h3{
    margin: 0;
}

.header-title > small{
    font-size: 0.70em;
    color: grey;
}

.header-account{
    text-align: center;
    display: flex;
    gap: 10px;
}

.header-account > *{
    cursor: pointer;
}

.header-account > button {
    color: #125D79;
    border-color: #125D79;
    border-width: 1px;
    border-radius: 60px;
    background-color: transparent;
    padding-left: 12px;
    padding-right: 12px;
}

.header-account > img {
    width: 30px;
}
