<main>
    <app-sidebar/>
    <section class="content-container">
        <app-header/>

        <div class="content">
            <div class="stepper-container">
                <app-stepper/>
            </div>

            <div style="margin-top: -35px;">
                <p>Informe o CPF do futuro Cooperado (a)</p>
                <small>Se necessário, você poderá duplicar uma conta corrent existente ou pausar eretornar este cadastro futuramente</small>
                <small>Digite apenas os números (sem pontos ou traços).</small>
            </div>

            <div>
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div class="input-container">
                        <label for="cpf">CPF</label>
                       
                        <div class="input-inner">
                            <input [ngClass]="submitError ? 'border-error' : 'no-error-class'" (ngModelChange)="onCpfChange($event)"
                            formControlName="cpf" id="cpf" type="text" placeholder="000.000.000-00" class="" />
                            <button [ngClass]="isSubmited ? 'disabled' : ''" type="submit" [disabled]="isSubmited">Consultar por CPF</button>
                        </div>

                        <div class="error-feedback" *ngIf="submitError">
                            <p >Por favor, digitar o CPF do Cooperado (a)</p>
                        </div>
                    </div>
                </form>
            </div>

            <div class="card-container">
                <div class="person-card" *ngIf="isSubmited && !submitError">
                    <div>
                        <p class="card-title"><b>Situação cadastral do CPF</b></p>
                        <small class="card-subitle">Consulta na receita federal</small>
                    </div>

                    <div class="card-content">
                        <div>
                            <img [src]="user">
                        </div>
                        <div>
                            <small class="card-subitle">Nome</small>
                            <p class="card-p-name">Mariane de souza oliveira</p>
                        </div>
                    </div>

                    <div class="card-content">
                        <div>
                            <img [src]="correct">
                        </div>
                        <div>
                            <small class="card-subitle">Situação do CPF</small>
                            <p class="card-p-name">Regular</p>
                        </div>
                    </div>

                </div>
                <div></div> <!--Essas duas Divs servem para fazer o layout do flex funcionar da forma que quero-->
                <div></div>
            </div>


        </div>

        <app-footer/>
    </section>
</main>
